@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

.bgLogin {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 0 !important;
}

.bgLogin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#login {
	max-width: 578px;
	width: 100%;
	padding: 52px;
	margin: auto;
	background: #fff;
	box-sizing: border-box;
}

body.login {
	display: flex;
	background: #fff;
	min-height: 100vh;
	height: auto;
	padding: 0;
	margin: 0;
}

.mainLoginContent {
	width: calc(100% - 578px);
	min-width: calc(100% - 578px);
	box-sizing: border-box;
	position: relative;
}

.language-switcher {
	margin: 0 auto;
	padding: 0 0 24px;
	text-align: center;
	position: absolute;
	top: 32px;
	right: 52px;
}

.login h1 a {

    height: auto;
    line-height: 1.3;
    margin: 0 0 25px;
    padding: 0;
    text-decoration: none;
    width: auto;
    text-indent: unset;
    outline: 0;
    overflow: hidden;
    display: block;
    background: none !important;

    color: #1D2327;
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: "Segoe UI";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.login h1 {
	text-align: left;
}

#wp-submit {
	width: 100%;
	padding: 16px;
	float: none;
}

.login form .forgetmenot {
	font-weight: 400;
	float: none;
	margin-bottom: 16px !important;
}

.login form {
	margin-top: 48px;
	margin-left: 0;
	padding: 0;
	font-weight: 400;
	overflow: hidden;
	background: #fff;
	border: 0;
	box-shadow: unset;
}

.login #backtoblog, .login #nav {
	font-size: 13px;
	padding: 0;
}

.login form .input, .login input[type="password"], .login input[type="text"] {
	font-size: 24px;
	line-height: 1.33333333;
	width: 100%;
	margin: 0 6px 16px 0;
	min-height: 40px;
	max-height: none;
	border-radius: 4px;
	border: 1px solid #D1D5DB;
	background: #F9FAFB !important;
}

.user-pass-wrap {
	margin-bottom: 60px;
}

.login label {
	font-size: 14px;
	line-height: 1.5;
	display: inline-block;
	margin-bottom: 12px;
	color: #3C434A;
	font-weight: 600;
}

.logoSaBlock {
	position: relative;
	z-index: 10;
	width: 100%;
	max-width: 290px;
}

.logoSaBlock img {
	max-width: 100%;
}

.innerMainLoginContent {
	position: relative;
	z-index: 10;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	padding: 52px 52px 52px 128px;
}

.titleBlock {
	color: #FFF;
	position: relative;
	z-index: 10;
	padding: 32px 0;
}

.titleAdminPanel {
	font-family: 'Inter', sans-serif;
	font-size: 60px;
	font-style: normal;
	font-weight: 800;
	line-height: 140%;
	letter-spacing: 1.28px;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}


.descLogin {
	color: #FFF;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 0.32px;
	width: 100%;
	max-width: 670px;
}

* {
    box-sizing: border-box;
}

.sliderLoginBlock {
	width: 100%;
	max-width: 578px;
	padding: 16px 0;
	position: relative;
}

.poradySlideInner {
	border-radius: 0px 20px 20px 20px;
	background: #F3F4F6;
	padding: 24px;
	display: flex;
	color: #6B7280;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
}

.poradySlideTitle {
	color: #111928;
	font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.poradySlideData {
	padding-left: 12px;
}

.poradySlideImg {
	min-width: 100px;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	overflow: hidden;
}

.poradySlideImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.poradySlideText {
	margin-bottom: 5px;
}

.poradySlideLink {
	color: #2271B1;
	text-align: center;
	font-size: 12.898px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	text-decoration: none;
}

.avaSlider {
	position: absolute;
	z-index: 15;
	top: -58px;
	left: -59px;
}

#language-switcher {
	margin: 0;
}

.login h1 a {
	pointer-events: none;
}

.navSliderItem {
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 350;
	line-height: 120%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navSliderSa {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
}

.navPrevSa svg {
	margin-right: 5px;
	position: relative;
	top: 1px;
}

.navNextSa svg {
	margin-left: 5px;
	position: relative;
	top: 1px;
}

.poradySlideText span {
	color: #FF9B30;
	font-weight: 600;
}


















/* responsive  */

@media  (max-width: 1400px) {  
	.innerMainLoginContent {
		padding: 32px;
	}

	.titleAdminPanel {
		font-size: 46px;
	}

	.titleAdminPanel img {
		width: 46px;
	}

	.avaSlider {
		top: -58px;
		left: -25px;
	}













} 
/* /max-width: 1400px */ 



@media  (max-width: 1200px) {  

	.mainLoginContent {
		width: calc(100% - 400px);
		min-width: calc(100% - 400px);
	}

	#login {
		max-width: 400px;
		padding: 32px;
	}




} 
/* /max-width: 1200px */  


@media  (max-width: 991px) {  

	.descLogin {
		font-size: 14px;
		font-weight: 400;
	}

	.titleAdminPanel {
		font-size: 28px;
	}

	.titleAdminPanel img {
		width: 26px;
		margin-right: 7px;
	}

	.poradySlideImg {
		min-width: 50px;
		width: 50px;
		height: 100px;
	}

} 
/* /max-width: 991px */ 



@media (max-width: 768px) {  

	.mainLoginContent {
		width: calc(100% - 350px);
		min-width: calc(100% - 350px);
	}

	#login {
		max-width: 350px;
		padding: 24px;
	}

	.poradySlideInner {
		flex-direction: column;
	}

	.poradySlideImg {
		min-width: 80px;
		width: 50px;
		height: 80px;
		text-align: center;
		margin: 0 auto 7px;
	}


	.poradySlideData {
		padding-left: 0;
	}


} 
/* /max-width: 768px */  



@media(max-width: 640px) {  

	body.login{
		flex-direction: column;
	}

	.mainLoginContent {
		width: 100%;
		min-width: unset;
	}

	.sliderLoginBlock {
		width: 100%;
		max-width: 578px;
		padding: 16px 0;
		position: relative;
		display: none;
	}

	.titleAdminPanel {
		font-size: 24px;
	}

	.titleBlock {
		padding: 16px 0 0;
	}

	.titleAdminPanel {
		margin-bottom: 16px;
	}

	.descLogin {
		font-size: 12px;
		font-weight: 400;
	}

	.innerMainLoginContent {
		padding: 16px;
	}

	#login {
		max-width: unset;
		padding: 16px;
		margin: 0;
	}

	.user-pass-wrap {
		margin-bottom: 16px;
	}

	.language-switcher {
		margin: 0 auto !important;
		padding: 0;
		text-align: center;
		position: relative;
		top: 0;
		right: 0;
	}

	#language-switcher {
		margin: 0;
	}

	#loginform {
		margin-top: 0;
	}




}  
/* /max-width: 640px */  




























